.codelite/
.build-debug/
.build-release/
bin/
Debug/
Release/
obj/
wx_pch.h.gch/
.clang/
compile_commands.json
model.txt
orcamentoCb.workspace.backup
OrcaMento.txt
debug/
release/
Makefile
*.mk
*.orca
*.depend
*.layout
orcamento.mk
.clang_complete
.cmake_dirty
.codelite/
