<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="OrcamentoMainFrame">
		<title>OrcaMento</title>
		<size>800,600</size>
		<id_arg>0</id_arg>
		<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="no">
			<sashgravity>0.250000</sashgravity>
			<minsize>10</minsize>
			<orientation>vertical</orientation>
			<pos>152,304</pos>
			<minsize>10,10</minsize>
			<object class="wxSimpleHtmlListBox" name="ID_SIMPLEHTMLLISTBOX1" variable="lbMonths" member="yes">
				<default>-1</default>
				<pos>223,244</pos>
				<handler function="OnlbMonthsDClick" entry="EVT_LISTBOX" />
			</object>
			<object class="wxGrid" name="ID_GDPROMISES" variable="gdEstimates" member="yes">
				<cols>7</cols>
				<collabels>
					<item>Id</item>
					<item>Name</item>
					<item>Estimated</item>
					<item>Accounted</item>
					<item>Due</item>
					<item>Category</item>
					<item>Observation</item>
				</collabels>
				<pos>78,4</pos>
				<extra_code>gdEstimates-&gt;HideCol(0);</extra_code>
				<handler function="OngdEstimatesCellRightClick" entry="EVT_CMD_GRID_CELL_RIGHT_CLICK" />
				<handler function="OngdEstimatesCellLeftDClick" entry="EVT_CMD_GRID_CELL_LEFT_DCLICK" />
				<handler function="OngdEstimatesCellChange" entry="EVT_CMD_GRID_CELL_CHANGE" />
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="mnNew" member="yes">
					<label>New</label>
					<accel>Ctrl-N</accel>
					<help>Create new Database</help>
					<bitmap stock_id="wxART_NEW_DIR" stock_client="wxART_MENU" />
					<handler function="OnNew" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="mnOpen" member="no">
					<label>Open</label>
					<accel>Ctrl-O</accel>
					<help>Open a database.</help>
					<bitmap stock_id="wxART_FILE_OPEN" stock_client="wxART_MENU" />
					<handler function="OnOpen" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="mnQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<bitmap stock_id="wxART_QUIT" stock_client="wxART_MENU" />
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="no">
				<label>Budget</label>
				<object class="wxMenuItem" name="ID_MENUCREATE_BUDGET" variable="mnCreateBudget" member="yes">
					<label>Create Next Budget</label>
					<accel>Alt-b</accel>
					<handler function="OnCreateBudget" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUEXECUTE_BUDGET" variable="mnExecuteNextBudget" member="yes">
					<label>Execute Next Budget</label>
					<handler function="OnExecuteBudget" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="mnEstimate" member="yes">
				<label>Estimate</label>
				<object class="wxMenuItem" name="ID_PROMISE_CREATE" variable="MenuItem1" member="yes">
					<label>Add a Estimate</label>
					<accel>Alt-Insert</accel>
					<help>Insert a new estimate on current budget.</help>
					<handler function="OnCreateEstimate" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu5" member="no">
				<label>Wallet</label>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="mnWalletsOverview" member="no">
					<label>Overview</label>
					<accel>Alt-w</accel>
					<handler function="OnWalletsOverview" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="sbStatus" member="yes">
			<fields>5</fields>
			<widths>-1,-1,-1,-1,-1</widths>
			<styles>wxSB_NORMAL,wxSB_NORMAL,wxSB_NORMAL,wxSB_NORMAL,wxSB_NORMAL</styles>
		</object>
		<object class="wxMenu" variable="cmnEstimate" member="yes">
			<object class="wxMenuItem" name="ID_MENU_ESTIMATE_EDIT" variable="mnEstimateEdit" member="yes">
				<label>Execute</label>
				<handler function="OnmnEstimateEditSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENU_ESTIMATE_DELETE" variable="mnEstimateDelete" member="yes">
				<label>Delete Estimate</label>
				<handler function="OnmnEstimateDeleteSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
